@import "pages/common/common.scss";

.login.entire {
    @include Entire;
    #logo{
        margin: 68.81px auto 25.58px 0;
        &:active{
            opacity: 0.8;
        }
        &:hover{
            cursor: pointer;
        }
    }
    
    .findQ{
        margin: auto auto 48px auto;
        width: 100%;
        text-align: center;
        a {
            font-style: normal;
            font-size: 14px;
            text-decoration-line: underline;
            color: #5278FF;
        }
    }
}
