//forms 

@mixin forms{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}
//input & submit

@mixin inputOrSubmit{
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    padding: 12px 8px 12px 12px;
    font-style: normal;
}

.login{
    .form{
        @include forms;
        margin-bottom: 12px;
    }
    .input{
        @include inputOrSubmit;
        border: 1px solid #CDCDCD;
    }
    .submit{
        @include inputOrSubmit;
        border: none;
        color: #ffffff;
        background: #5278FF;
    }
}