@import "pages/common/common.scss";
.login{
    .form{
        @include forms;
        margin-bottom: 12px;
    }
    .input{
        @include inputOrSubmit;
        border: 1px solid #CDCDCD;
    }
    .submit{
        @include inputOrSubmit;
        border: none;
        color: #ffffff;
        background: #5278FF;
    }
}