@import "pages/common/common.scss";

.journal-item  {
    animation: fadein 2s;
    box-sizing: border-box;
    max-width: 327px;
    width: 100%;
    border: 1px solid #D8D8D8;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
    background-color: #FFFFFF;
    border-radius: 16px;    
    padding-top: 135%;

    max-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    cursor: pointer;
    &:active{
        opacity: 0.75;
        filter: saturate(75%);
    }
    
    
    .textArea{
        margin-top: -135%;
        width:100%;
        flex-grow: 0.63;
        
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 24px;
        
        h1,h2{
            margin: 0;
            color: #5278FF;
        }
        h1{
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
        }
        h2{
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.5);
        }
        
    }
    .imageArea{
        pointer-events: none;
        width: 100%;
        flex-grow: 1;
        border-radius: 0 0 16px 16px;
        object-fit: cover;
    }
}


//글 선택 이후
.journal-item.active {
    cursor: default;
    &:active{
        opacity: 1;
        filter: none;
    }

    animation: fadeup 0.7s;
    z-index: 10;
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
    
    .textArea{
        border-radius: 0;
        h1 {
            color: #1C1B1F;
        }
    }
    .imageArea {
        border-radius: 0;
    }
    .contentArea{
        height: 100vh;
        margin: 24px;
        font-size: 16px;
        color: rgba(28, 27, 31, 0.8);
    }
    .arrowback {
        cursor: pointer;
        width: 16px;
        height: 16px;
        margin: 64px auto 15px 0;
    }
}