.main-nav{
    box-sizing: border-box;
    position: fixed;
    height: 120px;
    bottom: 0px;
    left: 0px;
    width: 100%; 
    background: #FFFFFF;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    text-align: center;

    .main-nav-flex{
        display: inline-flex;
        flex-direction: row;
        margin: 16px auto;
        height: 54px;
        gap: 0;
        .selectArea{
            display: flex;
            flex-direction: column;
            height: 54px;
            width: 75px;
            align-items: center;
            cursor: pointer;
            filter: saturate(20%);

            .icon{
                box-sizing: border-box;
                width: 21px;
                height: 21px;
                margin-top: 3.5px;
                margin-bottom: 15px;
                
                .my{
                    box-sizing: border-box;
                    border-radius: 70%;
                    width: 28px;
                    height: 28px;
                    border: 2px solid #5278FF;
                    margin-left: -3.5px;
                    background: url(/images/common/mainNav/ProfileSample.svg);
                    background-position: center;
                }

            }
            p { 
                height: 18px;
                margin: 0 auto;
                font-size: 12px;
                color: #5278FF;
            }
        }
    }
}